<script>
	var fileBuffer=[];
	var allowedFiles=[];
	
	let allowedFilesMap=new Map();
	function initAllowedFiles() {
		let checkedRadio;
		var rad=document.getElementsByName('updT');
		for (var i=0;i<rad.length; i++) {
			if (rad[i].checked) {
				checkedRadio = rad[i].value;
			}
		}
		for (file of fileBuffer) {
			if (file.webkitRelativePath === 'build/allowedFiles.txt') {
				let reader = new FileReader();
				reader.readAsText(file);
				reader.onload = function() {
					var data = reader.result.split('\n');
					for (f_name of data) {
						if (f_name.length>0) {
							if (f_name[0] != '#') {
								if (checkedRadio === "main") {
									if(f_name.indexOf("build/static/js/8.") >= 0 || f_name.indexOf("build/static/js/main") >= 0 || f_name.indexOf("build/index.html") >= 0) {
										allowedFiles.push(f_name.trim());
									}
								} else if (checkedRadio === "js") {
									let f_name_data = f_name.split(".");
									let f_type = f_name_data[f_name_data.length-1];
									let forbidden_types_array = ["txt","dat","json"];
									if(!forbidden_types_array.includes(f_type)) {
										allowedFiles.push(f_name.trim());
									}
								} else if (checkedRadio === "all"){
									allowedFiles.push(f_name.trim());
								}
								
							}
						}
					}
					uploadFiles();
				};
				reader.onerror = function() {
					console.log(reader.error);
				};
			}
		}
	}
	async function uploadFiles(filesDialog) {
		if(filesDialog) {
			filesDialog.disabled = true;
			Array.prototype.push.apply( fileBuffer, filesDialog.files );
			initAllowedFiles();
		} else {
			if(fileBuffer.length === 0) { 
			//	document.getElementById('log').innerHTML += '<p>UPLOADING FINISHED</p>';
			//	document.getElementById('fDialog').disabled = false;
				location.href = '/';
				return; 
			}
			if(allowedFiles.includes(fileBuffer[0].webkitRelativePath)) {
				var data = fileBuffer[0].webkitRelativePath;
				if (data.indexOf(".woff") < 0 || true) {
					data = data.replaceAll("/static/","/SD/app/");
				} 
				data = data.replaceAll("index.html","SD/index.html");
				data = data.replaceAll("favicon.ico","SD/favicon.ico");
				data = data.replaceAll("favicon.png","SD/app/images/favicon.png");
				data = data.split('/');
				var reqBody = '/rdrok/updMP';
				for (var i = 1; i < data.length; i++) {
					reqBody += '/' + data[i];
				}
				
				console.log(reqBody);
				var formData = new FormData();
				formData.append('file', fileBuffer[0]);
				// fileUploading
				fetch(reqBody, {
							method: 'POST',
							body: formData
						})
				.then(function(resultPass){
					if (resultPass.status === 200) {
						document.getElementById('log').innerHTML += '<p>'+reqBody+':: SUCCESS</p>';
						fileBuffer.shift();
                        document.title=("files left: "+fileBuffer.length)
					} else {
						document.getElementById('log').innerHTML += '<p>'+reqBody+':: ERROR [ERR CODE = '+resultPass.status+']</p>';
					}
					uploadFiles();
				})
				.catch(function (err){
					document.getElementById('log').innerHTML += '<p>EXCEPTION ['+err+']</p>';
				//	document.getElementById('fDialog').disabled = false;
					uploadFiles();
				})
				// --------
			} else {
				fileBuffer.shift();
				uploadFiles();
			}
		}
	}
</script>
<input type="file" id = 'fDialog' onchange = 'uploadFiles(this)'webkitdirectory directory multiple/>
<form>
  <form action="handler.php">
   <p><b>Uploading type : </b></p>
    <p><input name = "updT" type="radio" value = "main" checked>only main.js + html</p>
	<p><input name = "updT" type="radio" value = "js">all JS files (without data wiles) </p>
    <p><input name = "updT" type="radio" value = "all">all files (with data files)</p>
  </form> 
</form>
<hr/>
<div id = 'log'>
</div>